* {
      box-sizing: border-box;
      padding: 0%;
      margin: 0%;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;
}

.header {
      position: sticky;
      top: 0%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 75px;
      z-index: 999;
      background: #000;
}

.title,
.subtitle {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      width: 100%;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
}

.content-shopping {
      position: relative;
      margin-right: 15px;
      margin-top: 5px;
      cursor: pointer;
}

.open-cart-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-width: 0px;
      height: 70px;
      width: 70px;
      cursor: pointer;
      padding: 5px;
      background-color: #000;
      position: relative;
}

.icon-shopping {
      height: 100%;
      width: 100%;
      cursor: pointer;
}

.icon-text-shopping {
      position: absolute;
      font-size: large;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 11px;
      right: 0;
      bottom: 0;
      left: 0;
}